:root {
    --default_font: 'Poppins', sans-serif;
    --dark_blue: #122135;
    --light_blue: #28364d;
    --default_orange: #e9d16f;
}

body {
    font-family: var(--default_font);
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}


.bg_light {
    background-color: var(--light_blue);
}

.section_padding {
    min-height: 50vh;

}

.section_padding h1,
.section_padding h2,
.section_padding h3,
.section_padding h4 {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

.default_btn {
    border: 2px solid var(--default_orange);
    background: var(--light_blue);
    padding: 18px 28px;
    font-size: 15px;
    color: var(--default_orange);
    border-radius: 3px;
    outline: none;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
}

.default_btn:hover {
    background: var(--default_orange);
    color: var(--dark_blue);
}

.default_btn_alt {
    background: var(--light_blue);
    padding: 0.4em 1.5em;
    color: var(--default_orange);
    border-radius: 30px;
    outline: none;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
}

.orange_text {
    color: var(--default_orange) !important;
    font-size: 22px;
}

.v_align {
    text-align: center;
}

.fixed_nav {
    position: fixed;
    background: var(--dark_blue);
    z-index: 9999;
    width: 100%;
    top: 0;
    box-shadow: 6px 2px 12px 7px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.bg_dark {
    background: var(--dark_blue) !important;
}

.white_text {
    color: #ffff;
}


.gray_text {
    color: lightgrey;
    font-size: 14px !important;
}

/*****navigation****/
nav {
    padding: 1.5em 0;
}

.slide {
    width: 100% !important;
}

.logo {
    float: left;
}

.nav_link_holder {
    display: flex;
    float: right;
}

.nav_link a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: 0.4s ease;
}

.nav_link a:hover {
    color: #e9d16f;
}

/***mobile nav**/
.open_btn {
    float: right;
    font-size: 28px;
    display: none;
    cursor: pointer;
    position: relative;
    top: -5px;
}

.mobile_nav {
    width: 0%;
    position: fixed;
    height: 50vh;
    top: 3.8em;
    background-color: var(--dark_blue);
    overflow-x: hidden;
    z-index: 99999;
    transition: all 0.4s ease-in;
}


.mobile_nav_content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: var(--default_orange);
}

.nav_inner {
    text-align: left;
}

.nav_inner ul {
    padding: 2em 0.5em;
}


.nav_inner ul li {
    border-top: 1px solid var(--primary_green);
    width: 100%;
    list-style: none;

}


/***hero****/
.hero_text_holder {
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.hero_text_content {
    color: #ffff;
}

.hero_text_content h1 {
    font-size: 50px;
    font-weight: 900;
    color: var(--default_orange);
}

.hero_text_content p {
    font-size: 16px;
    font-weight: normal;
}

.hero_img_holder {
    padding: 2em;
}


/**services**/

.service_card {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 1.5em;
    transition: all 0.5s ease;
    background: var(--dark_blue);
    border: none;
    outline: none;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_card span {
    font-size: 18px;
}

.service_card p {
    font-size: 16px;
}

.service_card:hover {
    background-color: var(--default_orange);
    color: var(--dark_blue);
}

.close {
    width: fit-content;
    position: absolute;
    left: 90%;
    top: 0;
}

.modal-content {
    padding: 1.5em;
}


.bg_orange {
    padding: 1.5em;
    background: var(--default_orange);
    margin: 0 auto;
}

.bg_orange i {
    margin: 0 auto;
    font-size: 30px;
}

.form_element select {
    background: var(--dark_blue);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    height: 67px;
    outline: none;
    font-size: 15px;
}

.form_element label {
    display: block;
    font-size: 16px;
    color: #fff;
}

/***why choose us***/
.benefits_text_holder {
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.benefit {
    display: flex;
}

.benefit h5 {
    font-size: 18px;
}

.benefit p {
    font-size: 16px;
}

.benefit i {
    font-size: 20px;
}

table th {
    line-height: 30px;
}

table tr {
    line-height: 48px;

}

table tr td {
    font-size: 15px !important;
}

.term_content h4,
.term_content h2 {
    font-size: 18px;
    font-weight: bolder;
}

.term_content p {
    font-size: 16px;
}

/***contact us***/
.contact_form_holder {
    padding: 0 1.5em;
}

/***forgot password****/

.forgot .w-50 {
    margin: 0 auto;
}

.success .icon_holder i {
    font-size: 50px;
}

.forgot a {
    font-size: 13px;
}

.success_card {
    width: 60%;
    margin: 0 auto;
}

/****login page*****/
.login_card_holder {
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.login_card {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.2);
    min-height: 50vh;
    margin: 0 0.5em;
}

.login_content {
    padding: 2em;
    color: #fff;
}

.login_content h2 {
    font-size: 18px;
    font-weight: bolder !important;
    color: #ddd;
    letter-spacing: 1.4px;
}

.login_content p {
    font-size: 16px;
}

.form_element input,
.form_element textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--dark_blue);
    outline: none;
    padding: 0.6em;
    background: var(--dark_blue);
    color: #ffff;
    transition: all 0.5s ease;
    font-size: 14px;
}

.form_element input {
    height: 67px;
}

.form_element input:focus,
.form_element textarea:focus {
    border-bottom: 2px solid var(--default_orange);
}


/***signup page**/
.login_text_holder {
    padding: 0 20px;
    display: flex;
    align-items: center;
    min-height: 80vh
}

.login_text_holder h2 {
    font-size: 30px;
    font-weight: bold;
}

.login_text_holder p {
    color: #fff;
    font-size: 16px;
}

.forgot {
    text-align: left;
}

.remember span {
    font-size: 14px;
}

p.orange_text,
span.orange_text,
a.orange_text {
    font-size: 14px;
}

/***user profile***/
.profile_accordion_holder,
.post_accordion_holder {
    display: flex;
    align-items: center;
    min-height: 90vh;

}

.profile_card {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 1.5em 2em;
}

.accordion {
    color: #fff;
    background: var(--light_blue);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none !important;
    font-size: 16px;
    transition: all ease 0.4s;
}


.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 20px;

}

.active:after {
    content: "\2212";
}

.faq_answer {
    padding: 0 1.5em;
    max-height: 0;
    color: #ffff;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq_answer label {
    font-size: 15px;
}

.faq_answer p {
    font-size: 16px;
    padding: 12px;
}

.user_profile {
    display: flex;
    align-items: center;
    min-height: 85vh;
}

.profile_content {
    padding: 0 30px;
}

.profile_info {
    display: flex;
}

.profile_info p {
    margin-left: 20px;
}

.about_text_holder p {
    font-size: 16px;
}

/***post a trade***/
.post_accordion_holder .profile_card {
    padding: 2em;
}

.post_trade_content input {
    width: 100%;
}

.hint_item span {
    color: var(--default_orange);
    font-size: 20px;
}

/***tradelist**/
.tradelist form {
    display: block;
}

.tradelist .post_trade_content input {
    width: 100%;
}


.tradelist .post_accordion_holder {
    min-height: 70vh;
}

.trade .hint_item {
    display: flex;
}

.trade .hint_item p {
    margin-left: 20px;
    margin-top: 6px;
}

.trade .post_accordion_holder {
    min-height: 65vh;
}

.how_text_holder {
    display: flex;
    align-items: center;
    min-height: 65vh;
}

.hero_text {
    padding: 0 20px;
}

.hero_text p {
    font-size: 16px;
}

/***exchange****/
.coin_card {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.2);
    min-height: 450px;
    background: var(--light_blue);
}

.coin_logo {
    width: 150px;
    margin: 0 auto;
}

.coin_logo img {
    margin-top: -50px;
    width: 150px;
}

footer {
    background: var(--dark_blue);
    padding: 1.5em 0;
}

.icons_holder i {
    font-size: 20px;
}

.footer_link a,
.footer_rights p {
    font-size: 14px;
}

.footer_socials p {
    font-size: 15px;
}

@media screen and (max-width: 990px) {


    .nav_link_holder {
        display: none;
    }

    .open_btn {
        display: block;
    }

    .hero_img_holder {
        padding: 0;
        margin-top: 15px;
    }

    .modal-content .bg_orange {
        width: 100% !important;
    }

    .success_card {
        width: 100%;
        margin: 0 auto;
    }

    .form_element select {
        width: 100%;
    }

    .service_card_content {
        margin-top: 20px;
    }

    .contact_form_holder {
        padding: 0;
    }

    .login_card {
        margin: 0;
    }

    .login_content {
        padding: 1.5em;
    }

    .login_content h2 {
        font-weight: 900;
        font-size: 18px;
    }

    .login_text_holder {
        padding: 0;
        min-height: 70vh;
    }

    .forgot .w-50 {
        width: 100% !important;
    }

    .profile_card {
        padding: 1em;
    }

    .profile_accordion_holder,
    .post_accordion_holder {
        min-height: 65vh;
    }

    .user_profile {
        min-height: 50vh;
    }

    .profile_content {
        padding: 0;
    }

    .post_trade_content input {
        width: 100%;
    }

    .tradelist form {
        display: block;
    }

    .trade h2 {
        font-size: 20px;
    }

    .coin_card,
    .profile,
    .hero {
        margin-top: 60px;
    }

    .footer_link,
    .footer_rights {
        margin-top: 30px;
    }

}
