:root {
    --default_font: 'Poppins', sans-serif;
    --dark_blue: #122135;
    --light_blue: #28364d;
    --default_orange: #e9d16f;
}

body {
    font-family: var(--default_font);
}

body a {
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}


.bg_light {
    background-color: var(--light_blue);
}

.section_padding {
    padding-left: 5em;
    padding-right: 5em;
}

.default_btn {
    border: 2px solid var(--default_orange);
    background: transparent;
    padding: 0.4em 1.5em;
    color: var(--default_orange);
    border-radius: 30px;
    outline: none;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
}

.default_btn:hover {
    background: var(--default_orange);
    color: var(--dark_blue);
}

.orange_text {
    color: var(--default_orange) !important;
}

.v_align {
    text-align: center;
}

.fixed_nav {
    position: fixed;
    background: var(--dark_blue);
    z-index: 9999;
    width: 100%;
    top: 0;
    box-shadow: 6px 2px 12px 7px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.bg_dark {
    background: var(--dark_blue) !important;
}

.white_text{
    color: #ffff;
}

.fixed_message{
    background: var(--default_orange);
    border: none;
    outline: none;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    padding: 0.5em;
    z-index: 999;
}

.fixed_message i{
    font-size: 33px;
    position: relative;
}


/*****navigation****/
nav {
    padding: 1.5em;
}

.logo {
    float: left;
}

.nav_link_holder {
    display: flex;
    float: right;
}

.nav_link a {
    color: #fff;
}

/***hero****/
.hero_text_holder {
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.hero_text_content {
    color: #ffff;
}

.hero_text_content h1 {
    font-size: 50px;
}

.hero_text_content p {
    font-size: 16px;
    font-weight: 100;
}

.hero_img_holder {
    padding: 2em;
}


/**services**/

.service_card_content {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1.5em;
    transition: all 0.5s ease;
}

.service_card_content:hover{
    background-color: var(--default_orange);
    color: var(--dark_blue);
}

.service_card_content .icon{
    color: var(--default_orange);
}



.modal-content {
    padding: 1.5em;
}

/***why choose us***/
.benefits_text_holder{
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.benefit{
    display: flex;
}

.benefit i{
    font-size: 20px; 
}

/***contact us***/
.contact_form_holder{
    padding: 0 1.5em;
}

/****login page*****/
.login_card_holder {
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.login_card {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.5);
    min-height: 50vh;
    margin: 0 0.5em;
}

.login_content {
    padding: 2em;
    color: #fff;
}

.form_element input,
.form_element textarea {
    width: 90%;
    border: none;
    border-bottom: 2px solid var(--dark_blue);
    outline: none;
    padding: 0.6em;
    background: transparent;
    color: #ffff;
    transition: all 0.5s ease;
}

.form_element input:focus,
.form_element textarea:focus {
    border-bottom: 2px solid var(--default_orange);
}


/***signup page**/
.login_text_holder {
    padding: 0 20px;
    display: flex;
    align-items: center;
    min-height: 80vh
}

.login_text_holder h2 {
    font-size: 30px;
}

.login_text_holder p {
    color: #fff;
}

.forgot{
    text-align: right;
}

@media screen and (max-width: 990px) {
    .section_padding {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .nav_link_holder {
        display: none;
    }

    .open_btn{
        display: block;
    }

    .hero_img_holder{
        padding: 0;
    }

    .service_card_content{
        margin-top: 20px;
    }

    .contact_form_holder{
        padding: 0;
    }

    .login_card {
        margin: 0;
    }

    .login_content {
        padding: 1.5em;
    }

    .login_text_holder {
        padding: 0;
        min-height: 70vh;
    }
}